* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 99, 99);
}

.entered_number_label, .entered_number_input {
    display: block;
    margin-bottom: 15px;
}

.entered_number_input {
    background-color: rgb(99, 99, 99, 0.3);
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.button {
    color:white;
    background-color:rgb(20, 217, 196);
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    margin-bottom: 10px;
}

.hint, .attemps {
    width: 315px;
    padding-left: 5px;
    margin-bottom: 5px;
    border: 2px solid rgba(99, 99, 99, 0.3);
}

.hint p, .attemps p {
    margin-top: 5px;
    margin-bottom: 5px;
}